#gamer{
    width: 500px;
    height: 200px;
    border: 1px solid #000;
}
#dragon{
    width: 20px;
    height: 50px;
    background-color: #000;
    position: relative;
    top:150px
}
.animates {
    animation: jump .5s;
}
@keyframes jump{
    0%{
        top:100px
    }
    100%
    {
        top: 150px;
    }
}
#tree {
    width: 20px;
    height: 20px;
    animation: run 1s infinite;
    position: relative;
    top:130px;
    background-color: red;
}
@keyframes run {
    0% {
        left: 500px;
    }
    100% {
        left: 0px;
    }
}

