#gamer{
    width: 500px;
    height: 200px;
    border: 1px solid #000;
}
#dragon{
    width: 50px;
    height: 80px;
   
    position: relative;
    top:125px;
    background-image: url("run.gif");
    background-repeat: no-repeat;
    background-size: 50px 80px;
}
.animates {
    animation: jump .5s;
}
@keyframes jump{
    0%{
        top:80px
    }
    100%
    {
        top: 120px;
    }
}
#tree {
    width: 20px;
    height: 20px;
    animation: run 1s infinite;
    position: relative;
    top:100px;
    background-color: red;
}
@keyframes run {
    0% {
        left: 500px;
    }
    100% {
        left: 0px;
    }
}

